<div data-ng-show="myInfoPanel" class="animated fadeInLeft">

    <div class="jumbotron">
        <h1 style="font-weight:130">Welcome</h1>
        <p>You are <strong>now ready</strong> to join the world on a mission of freedom. Freedom to purchase, sell and trade.</p>

        <p style="margin-top:40px;">Some of the cool features we are working on:
        <ul>
            <li>Secure peer to peer merchants</li>
            <li>Anonymous ratings system</li>
            <li>Ricardian Contracts for various types of deals</li>
            <li>Third-party arbitration system</li>
            <li>Encrypted messaging and chat</li>
        </ul>
        </p>
        <p style="margin-top:40px;word-wrap:break-word;break-word:break-all">Want to help us change the world by contributing to our project? Visit us at <a href="https://github.com/OpenBazaar/OpenBazaar" target="_blank">https://github.com/OpenBazaar/OpenBazaar</a></p>


    </div>
</div>
