<!-- Orders -->
<div class="animated fadeInLeft">

    <h3>{{merchant == 1 ? 'My Sales' : 'My Purchases'}}</h3>

    <div data-ng-show="sentOrder" id="orderSuccessAlert" class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        Your order has been submitted to the seller.
    </div>


    <div class="col-sm-12" style="padding:0">


        <div class="col-sm-12 text-right">

            <pagination class="pull-right" style="margin-left:10px;" data-ng-show="orders_total > 10" total-items="orders_total" num-pages="orders_pages" data-ng-change="orders_page_changed()" data-ng-model="orders_current_page" max-size="4" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" boundary-links="true"></pagination>

        </div>


        <div class="col-sm-12" data-ng-show="merchant && orders_total == 0" style="padding:0">
            You have no orders at this time.
        </div>
        <div class="col-sm-12" data-ng-show="!merchant && orders_total == 0" style="padding:0">
            You have no sales yet.
        </div>

        <div data-ng-controller="ViewOrderCtrl">
            <script type="text/ng-template" id="viewOrder.html">
                <div class="modal-header">
                    <h3 class="modal-title">Order #{{orderId}}</h3>
                </div>
                <div class="modal-body" style="text-align:left;">

                    <div data-ng-show="Market.modalOrder.state == 'Need to Pay'" class="alert alert-warning" role="alert">
                        <div class="row">

                            <div style="float:left;margin:10px;"><img src="{{Market.modalOrder.qrcode}}" width="150" height="150"/></div>
                            <div style="margin:10px;">You need to send <strong>&#3647;{{Market.modalOrder.total_price}}</strong> to the payment address <strong>{{Market.modalOrder.address}}</strong> and mark this order as paid before the merchant ships.


                                <div data-ng-show="Market.modalOrder.state == 'Need to Pay'" id="payment_buttons2" style="margin-top:10px;">
                                    <a href="bitcoin:{{Market.modalOrder.address}}?amount={{Market.modalOrder.total_price}}&message={{Market.modalOrder.item_title}}"><button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-share-alt"></span> Pay in your Wallet</button></a>
                                    <button data-ng-click="markOrderPaid(orderId)" class="btn btn-info"><span class="glyphicon glyphicon-ok"></span> Mark as Paid</button>
                                    <button data-ng-click="" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Cancel Order</button>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div data-ng-show="Market.modalOrder.waitingForShipment"  class="alert alert-warning">
                        <h3>Shipping & Payment</h3>
                        <form name="releasePaymentForm" novalidate>

                            <p style="padding:10px">This order has been paid for by the buyer. You should verify the funds have been sent and then ship the
                            goods. Once you've done this you can enter your payment address and notify the buyer.</p>

                            <div class="row" style="margin-top:10px;">
                            <div class="col-sm-5 text-right" style="padding-top:5px">
                                <strong>Where would you like payment sent to? </strong>
                            </div>
                            <div class="col-sm-7 {{releasePaymentForm.bitcoinPaymentAddress.$invalid ? 'has-error' : ''}}">
                                <input type="text" required class="form-control text" name="bitcoinPaymentAddress" data-ng-model="Market.modalOrder.paymentAddress" placeholder="Enter a Bitcoin address"/>
                            </div>
                                </div>
                            <div class="row" style="margin-top:10px;">
                                <div class="col-sm-5 text-right" style="padding-top:5px">
                                </div>
                                <div class="col-sm-7">
                                    <button id="send-order-button" data-ng-click="markOrderShipped(orderId)" class="{{releasePaymentForm.bitcoinPaymentAddress.$invalid ? 'disabled' : ''}} btn btn-info"><span class="glyphicon glyphicon-share"></span> Request Payment</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div data-ng-show="Market.modalOrder.state == 'Shipped' && Market.modalOrder.merchant != settings.guid" class="alert alert-warning" role="alert">
                        <p style="margin:5px 0">Once you've received your order and are satisfied please release your payment to the seller.</p>
                        <button id="send-order-button" data-ng-click="markOrderReceived(orderId)" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-share"></span> Release Payment to Merchant</button>
                    </div>

                    <button data-ng-show="Market.modalOrder.flagForArbitration" id="send-order-button" data-ng-click="flagOrderForArbitration(orderId)" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-flag"></span> Flag for Arbiter</button>

                    <!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#order" role="tab" data-toggle="tab">Order</a></li>
  <li><a href="#contract-details" role="tab" data-toggle="tab">Contract Details</a></li>
  <li><a href="#shipping-information" role="tab" data-toggle="tab">Shipping Information</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="order">

      <div class="media" style="margin:10px;">
          <a class="pull-left" href="#">
            <img class="media-object" src="{{Market.modalOrder.item_image}}" alt="{{Market.modalOrder.item_title}">
          </a>
          <div class="media-body">
            <h4 class="media-heading">{{Market.modalOrder.item_title}}</h4>
            {{Market.modalOrder.item_desc}}
          </div>
        </div>

      <table class="table table-striped">
                        <tr>
                            <td width=200><strong>Order Date:</strong></td>
                            <td>{{Market.modalOrder.updated*1000 | date:'medium'}}</td>
                        </tr>
                        <tr>
                            <td width=200><strong>Status:</strong></td>
                            <td style="vertical-align:middle;"><span class="label label-info">{{Market.modalOrder.state}}</span> <span data-ng-show="Market.modalOrder.waitingForSellerToShip" style="font-weight:bold;">Waiting for Shipment</span></td>
                        </tr>
                        <tr data-ng-show="Market.modalOrder.item_price">
                            <td><strong>Contract Price:</strong></td>
                            <td style="word-break:break-all">&#3647;{{Market.modalOrder.item_price}}</td>
                        </tr>
                        <tr data-ng-show="Market.modalOrder.shipping_price">
                            <td><strong>Shipping Price:</strong></td>
                            <td style="word-break:break-all">&#3647;{{Market.modalOrder.shipping_price}}</td>
                        </tr>
                        <tr>
                            <td><strong>Payment Address:</strong></td>
                            <td style="word-break:break-all"><a href="https://blockchain.info/address/{{Market.modalOrder.address}}" target="_blank">{{Market.modalOrder.address}}</a></td>
                        </tr>
                        <tr>
                            <td><strong>Note to Merchant:</strong></td>
                            <td style="word-break:break-all">{{Market.modalOrder.note_for_merchant}}</td>
                        </tr>
                    </table>


  </div>
  <div class="tab-pane" id="contract-details">

      <table class="table table-striped" style="margin-top:10px;">
            <tr>
                <td><strong>Buyer:</strong></td>
                <td style="word-break:break-all">{{Market.modalOrder.buyer}}</td>
            </tr>
            <tr>
                <td><strong>Merchant:</strong></td>
                <td style="word-break:break-all">{{Market.modalOrder.merchant}}</td>
            </tr>
            <tr>
                <td><strong>Notary:</strong></td>
                <td style="word-break:break-all">{{Market.modalOrder.notary}}</td>
            </tr>
            <tr>
                <td><strong>Payment Address:</strong></td>
                <td style="word-break:break-all"><a href="https://blockchain.info/address/{{Market.modalOrder.address}}" target="_blank">{{Market.modalOrder.address}}</a></td>
            </tr>
            <tr>
                <td><strong>Raw Contract:</strong></td>
                <td><pre style="word-wrap:break-word;font-size:12px;height:250px;">{{Market.modalOrder.signed_contract_body}}</pre></td>
            </tr>
        </table>


  </div>

    <div class="tab-pane" id="shipping-information" data-ng-show="Market.modalOrder.waitingForShipment">

        <div style="padding:20px;">
        <address>
          <span data-ng-show="Market.modalOrder.shipping_address.recipient_name"><strong>{{Market.modalOrder.shipping_address.recipient_name}}</strong><br></span>
          <span data-ng-show="Market.modalOrder.shipping_address.street1">{{Market.modalOrder.shipping_address.street1}}<br></span>
          <span data-ng-show="Market.modalOrder.shipping_address.street2">{{Market.modalOrder.shipping_address.street2}}<br></span>
          <span data-ng-show="Market.modalOrder.shipping_address.city">{{Market.modalOrder.shipping_address.city}}, </span>{{Market.modalOrder.shipping_address.stateRegion}} {{Market.modalOrder.shipping_address.zip}}
        </address>
        </div>


    </div>

</div>


</div>

                <div class="modal-footer">
                    <button class="btn btn-info" data-ng-click="cancel()">Close</button>
                </div>
            </script>



            <div data-ng-show="orders_total > 0" style="padding:5px">
                <table class="table table-striped table-bordered" >

                    <!--<tr><td colspan="100%" style="background-color:#ccc;Adding escrows to database instead of hard coded into order.py">-->
                        <!--<select>-->
                            <!--<option>Select Action</option>-->
                            <!--<option>-----------------</option>-->
                            <!--<option>Cancel Order</option>-->
                        <!--</select>-->
                    <!--</td></tr>-->

                    <tr>
                        <th><input type="checkbox"/></th>
                        <th>Order</th>
                        <th>Date</th>
                        <th>Purchase</th>
                        <th data-ng-show="merchant">Buyer</th>
                        <th data-ng-show="!merchant">Merchant</th>
                        <th>Status</th>
                    </tr>

                    <tr data-ng-repeat="order in orders" >
                        <td width=20><input type="checkbox"/></td>
                        <td width=70><a href="" data-ng-click="open('lg', order.order_id, settings)">{{order.order_id}}</a></td>
                        <td width=136>{{order.updated * 1000 | date: 'short'}}</td>
                        <td>
                            <div class="pull-left" style="margin-right:10px;">
                                <img src="{{order.item_image}}" width="50"/>
                            </div>
                            <div style="word-break:word-wrap">
                                {{order.item_title}}
                            </div>
                        </td>
                        <td width="425" data-ng-show="merchant" style="word-break:break-all">
                            <div class="col-sm-2" style="padding-top:0;width:50px">
                                <identicon icon-size="50" hash="order.buyer" title="{{order.buyer}}"></identicon>
                            </div>
                            <div class="col-sm-10" style="padding-top:0">
                                <div data-ng-show="order.buyer_nickname" style="margin-top:5px;font-weight:bold;">{{order.buyer_nickname}}</div> {{order.buyer}}
                            </div>
                        </td>


                        <td width="425" data-ng-show="!merchant" style="word-break:break-all">
                            <div class="col-sm-2" style="padding-top:0;width:50px;">
                                <identicon icon-size="50" hash="order.merchant" title="{{order.merchant}}"></identicon>
                            </div>
                            <div class="col-sm-10" style="padding-top:0">
                                <div data-ng-show="order.merchant_nickname" style="margin-top:5px;font-weight:bold;">{{order.merchant_nickname}}</div> {{order.merchant}}
                            </div>
                        </td>

                        <td width=100><span class="label label-info">{{order.state}}</span></td>
                    </tr>

                    <!--<tr><td colspan="100%" style="background-color:#ccc;">-->
                        <!--<select>-->
                            <!--<option>Select Action</option>-->
                            <!--<option>-----------------</option>-->
                            <!--<option>Cancel Order</option>-->
                        <!--</select>-->
                    <!--</td></tr>-->

                </table>

            </div>


        </div>

    </div>

</div>