<!-- Search -->
<div data-ng-controller="Search" data-ng-show="searchPanel" class="animated fadeInLeft">

    <h4>Search Results</h4>

    <div data-ng-show="search_results.length == 0" class="alert alert-info" role="alert">
        <div >No results found yet for <strong>{{search}}</strong>.</div>
    </div>



    <table data-ng-show="search_results.length > 0" class="table table-striped table-bordered" style="margin-top:30px;">
        <tr>
            <th colspan=2>Contract</th>
            <th width=50>Quantity</th>
            <th width=75>Price</th>
            <th></th>
        </tr>
        <tr data-ng-repeat="contract in search_results">

            <td width=100 style="border-right:none;"><img data-ng-show="contract.Contract.item_images" src="{{contract.Contract.item_images}}" alt="" class="img-thumbnail" width=100 height=100></td>
            <td  style="border-left:none;"><a href="#" onclick="return false"><span style="font-size:20px;">{{contract.Contract.item_title}}</span></a>
                <br/>
                <p style="padding:10px 0">{{contract.Contract.item_desc | limitTo:500}}</p>
                <div style="padding:3px 0">
                    <span class="glyphicon glyphicon-tags"></span> <strong>Tags:</strong>
                </div>
                <div style="padding:3px 0">
                    <span class="glyphicon glyphicon-user"></span> <strong data-ng-show="contract.nickname || contract.Seller.seller_GUID">Sold by:</strong> <a href="#" onclick="return false">{{contract.nickname ? contract.nickname : contract.Seller.seller_GUID}}</a></div>
                <br/>
                <!--<strong>Condition:</strong> {{contract.Contract.item_condition}}-->
            </td>
            <td width=50><span style="font-size:20px;">{{contract.Contract.item_quantity}}</span></td>
            <td width=50><span style="font-size:20px;">&#3647;{{contract.Contract.item_price}}</span></td>
            <td width=100 align="center">
                <div class="listing-button">
                    <button type="button" class="btn btn-success btn-sm" data-ng-click="">
                        <span class="glyphicon glyphicon-shopping-cart"></span> View
                    </button>
                </div>
            </td>
        </tr>
    </table>


</div>
