<!-- Search -->
<div data-ng-controller="Search" data-ng-show="searchPanel" class="animated fadeInLeft">

    <h4>Search Results</h4>

    <div data-ng-show="search_results.length == 0" class="alert alert-info" role="alert">
        <div>No results found yet{{search.length > 0 ?
            " for " + search + "." :
             "."}}
        </div>
    </div>



    <table data-ng-show="search_results.length > 0" class="table table-striped table-bordered" style="margin-top:30px;">
        <tr>
            <th colspan=2>Contract</th>
            <th width=50>Quantity</th>
            <th width=75>Price</th>
            <th></th>
        </tr>
        <tr data-ng-repeat="contract in search_results">

            <td width=100 style="border-right:none;"><img data-ng-show="contract.Contract.item_images" ng-src="{{contract.Contract.item_images}}" alt="" class="img-thumbnail" width=100 height=100></td>
            <td  style="border-left:none;"><a data-ng-href="#user/{{contract.Seller.seller_GUID}}/products"><span style="font-size:20px;">{{contract.Contract.item_title}}</span></a>
                <div style="padding:3px 0">
                    <span class="glyphicon glyphicon-tags"></span> <strong>Tags:</strong>
                    <span data-ng-repeat="keyword in contract.Contract.item_keywords">
                        <a href="/html/index.html?searchterm={{keyword}}#/search">{{keyword}}</a>{{$last ? '' : ', '}}
                    </span>
                </div>
                <div style="padding:3px 0">
                    <span class="glyphicon glyphicon-user"></span> <strong data-ng-show="contract.nickname || contract.Seller.seller_GUID">Sold by:</strong> <a data-ng-href="#/user/{{contract.Seller.seller_GUID}}/products">{{contract.nickname ? contract.nickname : contract.Seller.seller_GUID}}</a></div>
                <br/>
                <!--<strong>Condition:</strong> {{contract.Contract.item_condition}}-->
            </td>
            <td width=50><span style="font-size:20px;">{{contract.Contract.item_quantity}}</span></td>
            <td width=50><span style="font-size:20px;">&#3647;{{contract.Contract.item_price}}</span></td>
            <td width=100 align="center">
                <div class="listing-button">
                    <a data-ng-href="#user/{{contract.Seller.seller_GUID}}/products">
                    <button type="button" class="btn btn-success btn-sm">
                        <span class="glyphicon glyphicon-shopping-cart"></span> View Item
                    </button>
                    </a>
                </div>
            </td>
        </tr>
    </table>


</div>
