<div class="modal-header">
    <h3 class="modal-title">Add Contract</h3>
</div>

<div class="modal-body"  style="text-align:left;">

    <ul class="nav nav-pills">
      <li class="active"><a href="#" onclick="$(this).parent().addClass('active');$(this).parent().siblings().removeClass('active');$('#add-product-fixed').show();$('#add-product-fixed').siblings().hide();">Fixed Price</a></li>
      <li><a href="#" onclick="$(this).parent().addClass('active');$(this).parent().siblings().removeClass('active');$('#add-product-auction').show();$('#add-product-auction').siblings().hide();">Auction</a></li>
      <li><a href="#" onclick="$(this).parent().addClass('active');$(this).parent().siblings().removeClass('active');$('#add-product-import').show();$('#add-product-import').siblings().hide();">Import Contract</a></li>
    </ul>

    <div style="margin-top: 10px;">

        <form novalidate role="form" id="newContractForm" name="newContractForm">

            <div id="add-product-import" class="col-sm-12" style="display:none;">
                <h3>Import contract</h3>
                <div class="alert alert-info" >Copy-paste your contract into this text box. You can generate custom contracts using the html contract generator.</div>
                <textarea rows="10" class="form-control" ng-model="contract.rawText"></textarea>
            </div>

            <div id="add-product-fixed" class="col-sm-12">

                <h3>Fixed Price Contract</h3>

                    <div class="alert alert-info" ng-show="newContractForm.productTitle.$error.required || newContractForm.productPrice.$error.required">Please enter a product title and cost.</div>
                    <div class="row">
                    <div class="col-sm-3">
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                            <div>
                                <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" id="inputProductImage" class="form-control" ng-model="contract.productImage" name="..."></span>
                                <a href="#" class="btn btn-info fileinput-exists" data-dismiss="fileinput">Remove</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-9">



                        <div class="form-group">
                            <label for="inputProductTitle">Product Title</label>
                            <input type="text" required ng-model="contract.productTitle" class="form-control" id="inputProductTitle" name="inputProductTitle" placeholder="Product title"/>
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" ng-model="contract.productDescription" id="inputProductDescription" placeholder="Enter a description" rows="5"></textarea>
                        </div>

                    </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="inputProductPrice">Price (&#3647;)</label>
                                <input required type="text" class="form-control" ng-model="contract.productPrice" id="inputProductPrice" name="inputProductPrice" placeholder="0"/>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="inputProductShippingPrice">Shipping (&#3647;)</label>
                                <input type="text" class="form-control" ng-model="contract.productShippingPrice" id="inputProductShippingPrice" placeholder="0" value="0"/>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="inputProductQuantity">Quantity</label>
                                <input type="text" class="form-control" ng-model="contract.productQuantity" id="inputProductQuantity" placeholder="1" value="1"/>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="inputProductCondition">Condition</label>
                            <select class="form-control" id="inputProductCondition" ng-model="contract.productCondition">
                              <option value="New" selected="selected">New</option>
                              <option value="New with Defects">New with Defects</option>
                              <option value="Refurbished">Refurbished</option>
                              <option value="Used">Used</option>
                              <option value="Very Good">Very Good</option>
                              <option value="Good">Good</option>
                              <option value="Acceptable">Acceptable</option>
                              <option value="Does not Function">Does not Function</option>
                            </select>

                        </div>
                    </div>

                    <div class="row"></div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="inputProductKeywords">Keywords</label>
                            <input type="text" class="form-control" ng-model="contract.productKeywords" id="inputProductKeywords" placeholder="Comma separated keywords that describe the item. Used for searching."/>
                        </div>
                    </div>

                    </div>

                    <div class="col-sm-12">
                        <a href="#" ng-click="toggleItemAdvanced()"><span class="caret"></span> Advanced Details</a>

                        <div ng-show="itemAdvancedDetails" style="padding:10px 0;">
                            <p>Wouldn't you like to see more details here?</p>
                        </div>


                    </div>




            </div>

        </form>

    </div>

    <br clear="both"/>
</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <!--<button class="btn btn-primary" ng-click="saveProduct()">Save</button>-->
    <button class="btn btn-primary" ng-click="createContract()">Save</button>
</div>

