<div class="modal-header">
    <h3 class="modal-title">Purchase this Contract</h3>
</div>

<div class="modal-body"  style="text-align:left;">

    <!--<div class="alert alert-info">Wow you're almost ready to purchase an item from an Open Bazaar merchant!</div>-->
    <form id="form-item-purchase" role="form">

    <div id="purchase_step1" ng-show="!order.step2">

    <table class="table table-striped">
        <tr>
            <td style="background-color:#efefef; width:60px; height:60px; background-image:url('{{productImageData}}');background-size: 60px 60px;padding:20px;"></td>
            <td style="vertical-align:top;font-size:24px;">
                <strong>{{productTitle}}</strong>
                <p>{{productDescription}}</p>
            </td>
            <td width="75"><input type="text" ng-model="order.productQuantity" id="itemQuantity" ng-change="updateTotal()" class="form-control"></td>
            <td width="100" style="font-size:24px;"><strong>&#3647;{{productPrice}}</strong></td>
        </tr>
        <tr>
            <td colspan="100%" style="font-size:24px;padding:20px;text-align:right;font-weight:bold;">Total: &#3647;<span id="totalPrice" ng-model="order.orderTotal">{{totalPrice}}</span></td>
        </tr>
    </table>

      <div class="row">
          <div class="form-group col-sm-8">
        <label for="inputMerchantMessage">Note for seller:</label>
        <textarea ng-model="order.message" class="form-control" rows="5" id="inputMerchantMessage" placeholder="Enter message for the merchant (optional)"></textarea>

      </div>



    <div>


        <!-- Hidden form fields for item -->
        <input type="hidden" id="rawContract" ng-model="order.rawContract" value="{{rawContract}}"/>
        <input type="hidden" id="inputMerchantGUID" ng-model="order.merchantGUID" value=""/>
        <input type="hidden" id="inputProductKey" ng-model="order.listingKey" value=""/>
        <input type="hidden" id="inputProductPrice" ng-model="order.listingTotal" value="{{productPrice}}"/>





    </div>
    </div>
    </div>

        <div id="purchase_step2" ng-show="order.step2" >
            <p>TEST TEST TEST</p>
        </div>


     </form>

</div>

<div class="modal-footer">
    <a class="btn btn-default" ng-show="!order.step2" ng-click="cancel()" type="cancel">Cancel</a>
    <a class="btn btn-success" ng-show="!order.step2" ng-click="gotoArbiter()" type="submit">Next</a>
    <a class="btn btn-default" ng-show="order.step2" ng-click="gotoStep1()" type="submit">Back</a>
    <a class="btn btn-success" ng-show="order.step2" ng-click="submitOrder()" type="submit">Submit Order</a>

</div>