<div class="modal-header">
    <h3 class="modal-title">Purchase this Contract</h3>
</div>

<div class="modal-body"  style="text-align:left;">

    <!--<div class="alert alert-info">Wow you're almost ready to purchase an item from an Open Bazaar merchant!</div>-->
    <form id="form-item-purchase" role="form" novalidate="novalidate" name="buyItem">

    <div class="alert alert-danger" role="alert" ng-show="!notaries.length" >
                You don't have any notaries trusted. Please add one before you purchase contracts or you are putting yourself at risk.
            </div>

    <div id="purchase_step1" ng-show="!order.step2">

    <table class="table table-striped" style="margin-bottom:0">
        <tr>
            <td style="background-color:#efefef; width:100px; height:100px; background-image:url('{{productImageData}}');background-size: 80px 80px; background-repeat:no-repeat;background-position:center;padding:20px;"></td>
            <td style="vertical-align:top;font-size:24px;">
                <strong>{{productTitle}}</strong>
                <p>{{productDescription}}</p>
            </td>
            <td width="75">
                <div class="form-group" ng-class="{'has-error': buyItem.itemQuantity.$invalid}">
                    <input type="number" min="1" name="itemQuantity" ng-model="order.productQuantity" id="itemQuantity" ng-change="updateTotal()" class="form-control" required />
                </div>
            </td>
            <td width="100" style="font-size:24px;"><strong>&#3647;{{productPrice}}</strong></td>
        </tr>
        <tr>
            <td colspan="100%" style="font-size:24px;padding:20px 20px 0 20px;text-align:right;font-weight:bold;">Total: &#3647;<span id="totalPrice" ng-model="order.orderTotal">{{totalPrice}}</span></td>
        </tr>
    </table>


    <div class="row">
        <div class="form-group col-sm-12">
            <label for="inputBitcoinPubkey">Bitcoin Public Key:</label>
            <p>This public key will be used for refunds in multisignature transactions. <a href="http://www.reddit.com/r/Bitcoin/comments/1wvph2/what_is_the_difference_between_an_address_and_a/" target="_blank">What's a public key?</a></p>
            <textarea rows="2" ng-model="order.btc_pubkey" class="form-control" id="inputBitcoinPubkey" placeholder="Enter a valid public key; not an address"></textarea>
        </div>
    </div>


      <div class="row">
          <div class="form-group col-sm-12">
        <label for="inputMerchantMessage">Note for Merchant:</label>
        <textarea ng-model="order.message" class="form-control" rows="5" id="inputMerchantMessage" placeholder="Enter message for the merchant (optional)"></textarea>

      </div>



    <div>


        <!-- Hidden form fields for item -->
        <input type="hidden" id="rawContract" ng-model="order.rawContract" value="{{rawContract}}"/>
        <input type="hidden" id="inputMerchantGUID" ng-model="order.merchantGUID" value=""/>
        <input type="hidden" id="inputProductKey" ng-model="order.listingKey" value=""/>
        <input type="hidden" id="inputProductPrice" ng-model="order.listingTotal" value="{{productPrice}}"/>





    </div>
    </div>
    </div>

        <div id="purchase_step2" ng-show="order.step2" >

            <div class="alert alert-warning">Use the form below to select an arbiter and notary. By doing this you are protecting yourself in the
            case that something goes wrong with your transaction and ensures things go smoothly.<br/><br/>You can add a notary or
            arbiter on the <strong>Settings Page</strong> or <a href="https://github.com/OpenBazaar/OpenBazaar/wiki/Contracts-and-Listings" target="_blank">find out more here</a>.
            </div>

            <div class="form-group row" ng-show="!!notaries.length">
                <div class="col-sm-12">
                <label for="notary">Notary</label>

                <select id="notary" ng-model="order.notary" ng-options="notary.guid as notary.nickname+' ('+notary.guid+')' for notary in notaries" class="form-control col-sm-12"></select>
                </div>
            </div>



            <!--<div class="form-group row">-->
                <!--<div class="col-sm-6">-->
                    <!--<label for="arbiter">Arbiter</label>-->
                    <!--<select id="arbiter" ng-model="order.arbiter" ng-options="arbiter for arbiter in arbiters" class="form-control col-sm-4"></select>-->
                <!--</div>-->
            <!--</div>-->

        </div>


     </form>

</div>

<div class="modal-footer">
    <a class="btn btn-default" ng-show="!order.step2" ng-click="cancel()" type="cancel">Cancel</a>
    <a class="btn btn-success" ng-show="!order.step2" ng-click="gotoStep2()" type="submit">Next</a>
    <a class="btn btn-default" ng-show="order.step2" ng-click="gotoStep1()" type="submit">Back</a>
    <a class="btn btn-success" ng-show="order.step2" ng-click="submitOrder()" type="submit">Submit Order</a>

</div>