<div class="modal-header">
    <h3 class="modal-title">Send Message</h3>
</div>

<div class="modal-body"  style="text-align:left;">

<div class="row">
    <form class="form-horizontal" name="composeForm" role="form">
        <div class="form-group">
            <label for="fromAddress" class="col-sm-1 control-label">From</label>
            <div class="col-sm-6">
                <p class="form-control-static">{{my_address}}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="toAddress" class="col-sm-1 control-label">To</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="toAddress" ng-model="toAddress" placeholder="Recipient Address"/>
             </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12" style="padding:0 25px">
                <input type="text" class="form-control" id="subject" ng-model="subject" placeholder="Enter a subject line" />
                <div ng-show="composeForm.subject.$dirty && composeForm.subject.$invalid">Invalid:
                  <span ng-show="composeForm.subject.$error.required">A subject is required</span>
                 </div>
             </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12" style="padding:0 25px">
                <textarea rows="12" class="form-control" id="body" ng-model="body" placeholder="Enter a message"></textarea>
                <div ng-show="composeForm.body.$dirty && composeForm.body.$invalid">Invalid:
                  <span ng-show="composeForm.body.$error.required">A body is required</span>
                 </div>
             </div>
        </div>
    </form>

</div>

</div>

<div class="modal-footer">
    <a class="btn btn-default" ng-click="cancel()" type="cancel">Cancel</a> 
    <a class="btn btn-primary" ng-click="send()" 
        ng-disabled="composeForm.$invalid"
        type="submit">Send</a>
</div>
