<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html data-ng-app='app' xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>OpenBazaar - Decentralized markets for the masses</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    <script src="/html/vendors/angular.min.js" type="text/javascript"></script>
    <script src="/html/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/html/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/html/vendors/identicon.js" type="text/javascript"></script>
    <script src="/html/vendors/pnglib.js" type="text/javascript"></script>
    <script src="/html/vendors/jquery.min.js" type="text/javascript"></script>
    <script src="/html/vendors/bootstrap.min.js" type="text/javascript"></script>

    <script src="/html/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js"></script>
    <!--<script src="/html/js/xlat.js"></script>-->
    <script src="/html/js/notifier.js" type="text/javascript"></script>

    <script src="/html/js/ws.js" type="text/javascript"></script>
    <script src="/html/js/app.js" type="text/javascript"></script>
    <script src="/html/js/controllers.js" type="text/javascript"></script>

    <!-- CSS -->
    <link href="/html/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/html/bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/html/css/dark.css" rel="stylesheet" type="text/css">
    <link href="/html/css/animate.css" rel="stylesheet" type="text/css">
    <link href="/html/less/css/app.css" rel="stylesheet" type="text/css">
    <link href="/html/css/messaging.css" rel="stylesheet" type="text/css">

    <title>OpenBazaar - Decentralized markets for the masses</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>


<body data-ng-controller="Market as market" data-ng-init="">


<div data-ng-show="settings.welcome">
    <div data-ng-controller="WelcomeModalCtrl">
        <script type="text/ng-template" id="myModalContent.html">

            <div class="modal-header">
                <h3 class="modal-title">Welcome to OpenBazaar</h3>
            </div>

            <div class="modal-body"  style="text-align:left;">
                <p style="font-size:110%">
                    <div role="alert" class="alert alert-danger">
                        <strong>Stop and read this!</strong>
                    </div>

                    OpenBazaar is still in beta. This means a few things for users:
                    <ul>
                        <li>You are not anonymous on the OpenBazaar network. Your IP is tied to contracts you sell, buy, or notarize.</li>
                        <li>The settings, layout, and functionality of client will change over time. We'll do our best to make sure you will keep your existing data but major changes might be incompatible and you may need to update your store information and contracts periodically.</li>
                        <li>Transactions might fail for technical reasons, and the OpenBazaar dev team is not responsible for any lost Bitcoin or product issues. In early beta we recommend smaller transactions and/or using the testnet.</li>
                        <li>There will be bugs. Submit a bug report in the <a href="http://forum.openbazaar.org">forums</a> or on Reddit, and please be patient.</li>
                    </ul>

                </p>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" data-ng-click="ok()">Ok, let&apos;s get started!</button>
            </div>

        </script>
    </div>
</div>

<div class="container">

    <!-- Header -->
    <div class="col-sm-12 clearfix" style="border-bottom:1px solid #bbb;padding:5px 0;">
    <div id="header">

        <!-- Logo -->
        <div class="col-sm-4 col-xs-12" >
            <a href="/"><img src="img/logo_header.png" class="img-responsive" style="max-height:100px;" /></a>
        </div>

        <!-- Search and Navigation -->
        <div class="col-sm-8 col-xs-12 search-area">

            <div class="" style="padding-right:0">

                    <form class="search-form2 form-inline" name="search" action="#/search" method="get">
                        <div class="text-right" style="padding-right:0">
                            <input class="form-control" size="60" name="searchterm" type="text" placeholder="Search for markets or products...">
                            <input class="btn btn-primary" type="submit" value="Search">
                        </div>
                    </form>

            </div>

            <div class="row col-sm-12" style="padding-right:0">
                <div id="header-navigation">
                    <ul class="nav nav-pills">
                         <li><a href="/">Home</a></li>
                        <li class="dropdown"><a href="#orders" data-toggle="dropdown" class="dropdown-toggle">Orders <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#/orders/sales">My Sales</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#/orders/purchases">My Purchases</a></li>
                            </ul>
                        </li>
                        <li><a href="#/contracts">Contracts</a></li>
                        <li class="dropdown"><a href="#arbitration" data-toggle="dropdown" class="dropdown-toggle">Arbitration <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" data-ng-click="showDashboardPanel('arbitration')">My Cases</a></li>
                                <li><a href="#">Find Arbiters/Notaries</a></li>
                            </ul>
                        </li>
                        <li><a href="#messages" data-ng-click="showDashboardPanel('messages')">Messages <span data-ng-show="BMMessages" class="badge pull-right">1</span></a></li>
                        <li><a href="#settings">Settings</a></li>
                        <li><identicon icon-size="30" hash="myself.guid" title="{{myself.guid}}" ></identicon></li>
                    </ul>

                </div>
            </div>
        </div>


    </div>
    </div>



<div class="row">
    <div id="dashboard-container" class="{{sidebar ? 'col-sm-8' : 'col-sm-12'}}">

        <div data-ng-show="dashboard" style="text-align:left;padding:10px;">

            <div class="dashboard-panel">
                <div data-ng-view></div>

            </div>
        </div>
    </div>


    <div id="sidebar" data-ng-show="sidebar" class="shoutbox-area col-sm-4" style="margin-top:20px;" >

            <table class="peers-table no-hover" style="margin-top:20px;">

        <tbody>
        <tr>
            <td width="40" style="vertical-align:top"><identicon icon-size="50" hash="myself.guid" title="{{myself.guid}}"></identicon></td>
            <td style="font-size:14px;word-wrap:break-word;word-break:break-all"><span title="{{myself.pubkey}}"><strong>{{settings.nickname ? settings.nickname : 'Your Store'}}</strong><br>
                <span style="font-style:italic;font-size:12px">{{myself.nickname ? myself.nickname : myself.sin}}
                    <!--<div data-ng-show="myself.uri">{{myself.uri}}</div>-->
                    </span></span>
            </td>


        </tr>
        </tbody>
    </table>

    <h3>Connected Markets</h3>

    <div data-ng-show="peers.length < 1">There are no stores connected to you.</div>

    <div class="peers-area" >
        <table id="favorite-peers" class="peers-table table-hover">
            <tbody>
            <tr data-ng-repeat="peer in peers" data-ng-click="go('/user/'+peer.guid)">
                <td width="40" style="vertical-align:top"><identicon icon-size="50" hash="peer.guid" title="{{peer.guid}}"></identicon></td>
                <td style="font-size:14px;word-wrap:break-word;word-break:break-all"><strong><span title="{{peer.pubkey}}">{{peer.nick != "" ? peer.nick : peer.uri }}</strong><br>
                  <span style="font-style:italic;font-size:12px">{{peer.nickname ? peer.nickname : peer.sin}}
                    <!--<div data-ng-show="peer.uri">{{peer.uri}}</div>-->
                    </span></span></td>
            </tr>
            </tbody>
        </table>
    </div>



    <div style="width:100%">
        <h3>Chat Stream</h3>


        <form class="form" data-ng-submit="createShout(newShout)">
            <input class="shout-input form-control" type="text" data-ng-model="newShout" placeholder="Type a message">
        </form>

        <div class="shout-chats">
            <div data-ng-repeat="shout in shouts.slice().reverse()" style="padding-bottom:5px;">
                <div><identicon icon-size="25" hash="shout.senderGUID" title="{{shout.senderGUID}}" style="float:left;margin-right:10px;"></identicon></div><div>{{shout.text}}</div>
            </div>
        </div>
    </div>

    </div>

</div>

    </div>
</body>
</html>
