<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html data-ng-app='app' xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>OpenBazaar - Decentralized markets for the masses</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    <script src="/html/vendors/angular.min.js" type="text/javascript"></script>
    <script src="/html/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/html/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/html/vendors/identicon.js" type="text/javascript"></script>
    <script src="/html/vendors/pnglib.js" type="text/javascript"></script>
    <script src="/html/vendors/jquery.min.js" type="text/javascript"></script>
    <script src="/html/vendors/bootstrap.min.js" type="text/javascript"></script>

    <script src="/html/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js"></script>
    <!--<script src="/html/js/xlat.js"></script>-->
    <script src="/html/vendors/notifier.js" type="text/javascript"></script>

    <script src="/html/app.js" type="text/javascript"></script>
    <script src="/html/services/connection.js" type="text/javascript"></script>
    <script src="/html/controllers/contracts.js" type="text/javascript"></script>
    <script src="/html/controllers/market.js" type="text/javascript"></script>
    <script src="/html/controllers/messages.js" type="text/javascript"></script>
    <script src="/html/controllers/orders.js" type="text/javascript"></script>
    <script src="/html/controllers/search.js" type="text/javascript"></script>
    <script src="/html/controllers/settings.js" type="text/javascript"></script>
    <script src="/html/controllers/user.js" type="text/javascript"></script>

    <!-- CSS -->
    <link href="/html/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/html/bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="/html/css/dark.css" rel="stylesheet" type="text/css" />
    <link href="/html/css/animate.css" rel="stylesheet" type="text/css" />
    <link href="/html/css/app.css" rel="stylesheet" type="text/css" />
    <link href="/html/css/messaging.css" rel="stylesheet" type="text/css" />

    <link rel=icon href=/html/favicon.png>
</head>


<body data-ng-controller="Market as market" data-ng-init="">

<div class="container" style="min-height: 100%;">

    <div style="overflow-y:auto; overflow-x: hidden; padding-bottom:100px">

        <!-- Header -->
        <div class="col-sm-12 clearfix" style="border-bottom:1px solid #bbb;padding:5px 0;">
        <div id="header">

            <!-- Logo -->
            <div class="col-sm-4 col-xs-12" >
                <a href="#/dashboard"><img src="img/logo_header.png" class="img-responsive" style="max-height:100px;" /></a>
            </div>

            <!-- Search and Navigation -->
            <div class="col-sm-8 col-xs-12 search-area">

                <div class="" style="padding-right:0">
                        <form class="search-form2 form-inline" name="search" action="#/search">
                            <div class="text-right" style="padding-right:0">
                                <input class="form-control" size="60" name="searchterm" ng-model="searchterm" type="text" placeholder="Search for markets or products...">
                                <input class="btn btn-primary" type="submit" value="Search">
                            </div>
                        </form>
                </div>

                <div class="row col-sm-12" style="padding-right:0">
                    <div id="header-navigation">
                        <ul class="nav nav-pills">
                             <li><a data-ng-href="#/dashboard">Home</a></li>
                            <li class="dropdown"><a data-ng-href="#orders" data-toggle="dropdown" class="dropdown-toggle">Orders <b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" data-ng-href="#/orders/sales">My Sales</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" data-ng-href="#/orders/purchases">My Purchases</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" data-ng-href="#/orders/notarizations">Notarizations</a></li>
                                </ul>
                            </li>
                            <li><a data-ng-href="#/contracts">Contracts</a></li>
                            <li class="dropdown"><a data-ng-="#arbitration" data-toggle="dropdown" class="dropdown-toggle">Arbitration <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a data-ng-href="#" data-ng-click="showDashboardPanel('arbitration', $event)">My Cases</a></li>
                                    <li><a data-ng-href="#" data-ng-click="$event.preventDefault()">Find Arbiters/Notaries</a></li>
                                </ul>
                            </li>
                            <li><a data-ng-href="#/messages" data-ng-click="showDashboardPanel('messages')">Messages <span data-ng-show="BMMessages" class="badge pull-right">1</span></a></li>
                            <li><a data-ng-href="#/settings">Settings</a></li>
                            <li><identicon icon-size="30" hash="myself.guid" title="{{myself.guid}}" ></identicon></li>
                        </ul>

                    </div>
                </div>
            </div>


        </div>
        </div>

        <div class="row">
        <div id="dashboard-container" class="{{sidebar ? 'col-sm-8' : 'col-sm-12'}}">

            <div data-ng-show="dashboard" style="text-align:left">

                <div class="dashboard-panel">
                    <div data-ng-view></div>

                </div>
            </div>
        </div>


        <div id="sidebar" data-ng-show="sidebar" class="shoutbox-area col-sm-4" style="margin-top:20px;" >

                <table class="peers-table no-hover" style="margin-top:20px;">

            <tbody>
            <tr>
                <td width="40" style="vertical-align:top"><identicon icon-size="50" hash="myself.guid" title="{{myself.guid}}"></identicon></td>
                <td style="font-size:14px;word-wrap:break-word;word-break:break-all">
                    <span title="{{myself.pubkey}}">
                        <strong>{{settings.nickname ? settings.nickname : 'Your Store'}}</strong>
                        <br>
                        <span style="font-style:italic;font-size:12px">
                            {{myself.nickname ? myself.nickname : myself.guid}}
                            <!--<div data-ng-show="myself.uri">{{myself.uri}}</div>-->
                        </span>
                    </span>
                </td>


            </tr>
            </tbody>
        </table>

        <h3>Connected Markets</h3>
        <div class="alert-warning alert store-count-box">
            <span data-ng-show="peers.length > 0"><strong>{{peers.length}}</strong> stores connected.</span>
            <span data-ng-show="peers.length < 1">There are no stores connected to you.</span>
            <button data-ng-controller="AddNodeModalCtrl" class="btn-xs btn btn-primary" data-ng-click="open()" style="">Add Node</button>
        </div>



        <div class="peers-area" >
            <table id="favorite-peers" class="peers-table table-hover">
                <tbody>
                <tr data-ng-repeat="peer in peers" data-ng-click="go('/user/'+peer.guid+'/products', peer.guid)">
                    <td width="40" style="vertical-align:top"><identicon icon-size="50" hash="peer.guid" title="{{peer.guid}}"></identicon></td>
                    <td style="font-size:14px;word-wrap:break-word;word-break:break-all">
                        <span title="{{peer.pubkey}}">
                            <strong>{{peer.nick != "" ? peer.nick : peer.uri }}</strong>
                            <br>
                            <span style="font-style:italic;font-size:12px">
                                {{peer.nickname ? peer.nickname : peer.guid}}
                                <!--<div data-ng-show="peer.uri">{{peer.uri}}</div>-->
                            </span>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>



        <div style="width:100%">
            <h3>Chat Stream</h3>


            <form class="form" data-ng-submit="createShout(newShout)">
                <input class="shout-input form-control" type="text" data-ng-model="newShout" placeholder="Type a message">
            </form>

            <div class="shout-chats">
                <div data-ng-repeat="shout in shouts.slice().reverse()" style="padding-bottom:5px;">
                    <div><identicon icon-size="25" hash="shout.senderGUID" title="{{shout.senderGUID}}" style="float:left;margin-right:10px;"></identicon></div><div>{{shout.text}}</div>
                </div>
            </div>
        </div>

        </div>

    </div>

    </div>

</div>


<div class="navbar navbar-fixed-bottom">
    <strong>OpenBazaar</strong> &middot; <a href="https://openbazaar.org" target="_blank">Website</a> &middot; <a href="https://blog.openbazaar.org" target="_blank">Blog</a> &middot;
    <a href="http://forum.openbazaar.org" target="_blank">Forum</a> &middot; <a href="bitcoin:16uniUFpbhrAxAWMZ9qEkcT9Wf34ETB4Tt?label=OpenBazaar%20Donation">16uniUFpbhrAxAWMZ9qEkcT9Wf34ETB4Tt</a> &middot;
    <a href="http://forum.openbazaar.org/index.php?p=/categories/beta-testing-issues" target="_blank">Report Bugs</a>
</div>
</body>
</html>
